.editorImageContainer {
  position: absolute;
  /* background-color: white; */
  overflow: hidden;
}

.editorCircleMask {
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}

.loadButton {
  position: absolute;
  background-color: #fff;
  overflow: hidden;
}

.scaleRange {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 10px;
  pointer-events: all;
}

.rotateRange {
  position: absolute;
  left: 102%;
  top: 90%;
  width: 80%;
  height: 10px;
  pointer-events: all;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 145px;
  height: 2px;
  cursor: pointer;
  background: #3d3d3d;
  -webkit-appearance: none;
}
input[type="range"]:hover::-webkit-slider-runnable-track {
  background: #3d3d3d;
}
input[type="range"]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  margin-top: -8px;
  border-radius: 50%;
  background: #a0fb3c;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:hover::-webkit-slider-thumb {
  background: #a0fb3c;
}

/* -moz-range-track
-moz-range-thumb
-ms-track
-ms-fill-lower
-ms-fill-upper
-ms-thumb */

#loadButton {
  position: absolute;
  display: block;
  width: 128px;
  height: 40px;
  left: 16px;
  top: 16px;
  cursor: pointer;
  pointer-events: all;
  overflow: hidden;
}

#loadButton:hover {
  opacity: 0.8;
}

.replace {
  background-image: url("replace_button.svg");
}

.replace:hover {
  background-image: url("replace_button.svg");
  opacity: 0.8;
}

.load {
  background-image: url("load_button.svg");
}

.load:hover {
  background-image: url("load_button.svg");
  opacity: 0.8;
}

#saveButton {
  position: absolute;
  display: block;
  width: 169px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  top: 338px;
  cursor: pointer;
  pointer-events: all;
  overflow: hidden;
}

.get-active {
  background-image: url("download_button.svg");
  pointer-events: all !important;
}

.get-active:hover {
  background-image: url("download_button.svg");
  opacity: 0.8;
}

.get-disabled {
  background-image: url("download_button_disabled.svg");
  pointer-events: none !important;
}

#themeButton {
  position: absolute;
  display: block;
  width: 128px;
  height: 40px;
  right: 16px;
  top: 16px;
  cursor: pointer;
  pointer-events: all;
  overflow: hidden;
}

.theme-dark {
  background-image: url("black_switch.svg");
}

.theme-dark:hover {
  background-image: url("black_switch.svg");
  opacity: 0.8;
}

.theme-light {
  background-image: url("white_switch.svg");
}

.theme-light:hover {
  background-image: url("white_switch.svg");
  opacity: 0.8;
}

#resetButton {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 74px;
  cursor: pointer;
  pointer-events: all;
  overflow: hidden;
  background-image: url("reset_button.svg");
}
#resetButton:hover {
  opacity: 0.8;
}

#helpText {
  position: absolute;
  display: block;
  pointer-events: none;
  width: 265px;
  height: 26px;
  left: 16px;
  top: 295px;
  overflow: hidden;
  background-image: url("help_text.svg");
  background-repeat: no-repeat;
}

.help-active {
  opacity: 1;
}

.help-inactive {
  opacity: 0.3;
}

#hintScale {
  position: absolute;
  display: block;
  pointer-events: none;
  width: 14px;
  height: 14px;
  left: -6px;
  bottom: -14px;
  overflow: hidden;
  background-image: url("zoom_hint.svg");
  background-repeat: no-repeat;
}

#hintRotate {
  position: absolute;
  display: block;
  pointer-events: none;
  width: 14px;
  height: 18px;
  right: -17px;
  top: -8px;
  overflow: hidden;
  background-image: url("rotate_hint.svg");
  background-repeat: no-repeat;
}
